*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 2.5fr 12fr 1fr;
    grid-template-rows: 1fr 11fr;
}
body{
    font-family: sans-serif;
}

.head{
    grid-column: 1/-1;
    background-color: white;
}
.header-nav{
    /* background-color: red; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    gap: 20px;
    width: 60%;
    /* background-color: red; */
    align-items: center;
    padding-left: 15px;
}
.nav-right{
    display: flex;
    gap: 20px;
    width: 20%;
    /* background-color: red; */
    justify-content: end;
    align-items: center;
    padding-right: 15px;
    height: 60px;
}
input{
    /* padding: 12px; */
    padding: 20px 0;
    padding-left: 50px;
    width:50rem;
    margin-left: 60px;
    border: none;
    background-color: rgb(230, 226, 226);
    border-radius: 5px;
    font-size: 16px;
}
a{
    color: rgb(63, 60, 60);
    text-decoration: none;
    font-size: 20px;
}
.head-btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
}


.aside-left{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aside-left-nav-top{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-self: start; */
    align-items: start;
    /* padding-left: 10px; */
    padding-right: 10px;
    /* background-color: red; */
}
.compose{
    padding: 25px 50px;
    border-radius: 30px;
    font-size: 1rem;
    color: rgb(63, 60, 60);
    margin-left: 10px;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 5px;
    /* border: 2px solid; */
}
.aside-btn{
    /* background-color: red; */
    width: 100%;
    text-align: start;
    padding: 7px 0;
    padding-left: 50px;
    /* font-weight:; */
    font-size: 15px;
    border: none;
    background-color: white;
}
.aside-btn:hover{
    background-color: rgb(226, 186, 186);
    border-top-right-radius: 10px;
    color: red;
}

.aside-left-nav-bottom{
     display: flex;
    flex-direction: column;
    gap: 40px;
    /* align-self: start; */
    align-items: start;
    /* padding-left: 10px; */
    padding-right: 10px;
    margin-bottom: 20px;
}

p{
    padding-left: 20px;
    font-weight: bold;
}
.sign{
    /* background-color: rgb(81, 126, 221); */
}
