*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 3fr 12fr 1fr;
    grid-template-rows: 1fr 11fr;
}

.head{
    grid-column: 1/-1;
    background-color: white;
}
.header-nav{
    /* background-color: red; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    gap: 20px;
    width: 60%;
    /* background-color: red; */
    align-items: center;
    padding-left: 15px;
}
.nav-right{
    display: flex;
    gap: 20px;
    width: 20%;
    /* background-color: red; */
    justify-content: end;
    align-items: center;
    padding-right: 15px;
    height: 60px;
}
input{
    /* padding: 12px; */
    padding: 20px 0;
    padding-left: 50px;
    width:50rem;
    margin-left: 60px;
    border: none;
    background-color: rgb(230, 226, 226);
    border-radius: 5px;
    font-size: 16px;
}
a{
    color: rgb(63, 60, 60);
    text-decoration: none;
    font-size: 20px;
}
button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
}

